body {
	font-family: "PT Sans Narrow", sans-serif;
}

:root {
	--page-button-bg: #0000;
	--page-button-bg-hover: #0001;
	--page-option-border: #0000;
	--page-option-border-active: #0008;
}
@media (prefers-color-scheme: dark) {
	:root {
		--page-button-bg: #fff0;
		--page-button-bg-hover: #fff1;
		--page-option-border: #fff0;
		--page-option-border-active: #fffa;
	}
}

.container {
	padding: 24px;
	font-size: 20px;
	cursor: default;
}
.column-option {
	max-width: max-content;
	height: max-content;
	border: 2px solid var(--page-option-border);
	border-radius: 4px;
	padding: 0.6rem;
	margin: 0.15rem;
}
.column-option[active='true']{
	border-color: var(--page-option-border-active);
}
.column-button {
	background: var(--page-button-bg);
	transition: background 0.2s;
}
.column-button:hover {
	background: var(--page-button-bg-hover);
}
.column-button[disabled='true'] {
	opacity: 0.5;
}
.column-view {
	max-width: 720px;
	min-width: min(720px, max(100%, 243px));
}

.demo-colour-square {
	display: inline-block;
	width: 64px;
	height: 64px;
	border: 0 solid;
	border-radius: 8px;
}
.demo-colour-square-small {
	display: inline-block;
	width: 32px;
	height: 32px;
	border: 2px solid #777;
	border-radius: 4px;
	margin: 4px;
}
#panel-colour-display {
	min-width: 4.5rem;
}
